<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

	<% include templates/nav.ejs %>	

	<h3>About</h3>
	<p> Custom String </p>	

  </body>
</html>
